@model IEnumerable<ClothesWeb.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-cols-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card m-2 border-0" style="width: 18rem;">
                <img src=@Url.Content(item.ImageProduct.FirstOrDefault().URLImage) class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">@item.nameProduct</h5>
                    <p class="card-text">@item.price,000đ</p>
                    <a href="/Products/Details/@item.idProduct" class="stretched-link"></a>
                </div>
            </div>
        </div>
    }
</div>


