
@{
    ViewBag.Title = "SuccessPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <img src="https://www.theclearingexperience.com/wp-content/uploads/2015/09/Thank-you.jpg" class="w-100"/>
    <div class="text-center">
        <h2>Thanh toán thành công</h2>
        <p class="fs-4">Để xem lịch sử giao dịch vui lòng đăng nhập</p>
        <a class="btn btn-primary" href="/Products">Continue Shopping</a>
    </div>
